*{ /*FORMATTING FOR EVERYTHING*/
margin: 0;
padding: 0;
font-family: 'Proxima Nova', sans-serif;
font-size: 1.02em;
font-weight: 500;
border-radius: 30px;}

body {height: 100%;}

#logo {display: flex;
	margin: auto;
	width: 25%;
	height: auto;}
  
h2 {font-size: 125%;
	align-self: center;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;}

h3 {font-size: 100%;
font-weight: 700;
font-family: 'Roboto', sans-serif;}

header {display: flex; /*NAVIGATION BETWEEN PAGES*/
	justify-content: space-evenly;
}

.container{ z-index:1; /*allows for shadow to appear*/
	width: 100%;
margin-bottom: 20px;}

	.cont { /*NAV BAR NOT BUTTONS*/
	  width:100%;
	  margin:auto;
	  height:100%;
	  border-radius: 0;
	  justify-content: space-evenly;}

	ul li {width: 50%;
	text-align: center;
	height: 100%;}

	li { /*NAVIGATION BUTTONS*/
	  display: inline;
	  float:left;
	  border-radius: 0;}

	.nav {box-shadow: 10px 10px 10px rgb(195, 195, 195);}

	li a{ display:block;
	margin:0;
	padding-top: 25px;
	padding-bottom: 25px;
	text-decoration:none;
	color: #151515; /*COLOR OF TEXT IN MAIN NAV MENU*/
	width: 100%;
	height: 20px;
	border-radius: 0;}

	#concepts :hover {background-color: #ecd4d1;
	border-radius: 6.5px;}

	#research :hover {background-color: #d0d9e1;
		border-radius: 6.5px;}

	#planning :hover {background-color: #a8c4cd;
		border-radius: 6.5px;}

	#refinement :hover {background-color: #bfd6ce;
		border-radius: 6.5px;}

 /*COLOR OF NAV BOXES UPON HOVER*/
	#cont {background-image: linear-gradient(to right, white , #AEAEEE);}
	#cont :hover {background-image: linear-gradient(to right, white , #A8D3C5);}

	#ind {background-image: linear-gradient(to right, #AEAEEE , white);}
	#ind :hover {background-image: linear-gradient(to right, #A8D3C5 , white);}
/*END OF MAIN NAVIGATION FORMATTING*/
	

.terms { height: 10px;
padding-top: 0px;
padding-bottom: 13px;}

#selected {display: flex; /*SHOULD BE WHERE THE SELECTED TERM APPEARS*/
width: 50%;
margin: auto;
margin-top: 20px;
margin-bottom: 0;
height: 50px;
text-align: center;
align-items: center;
justify-content: center;}

#def {/*CONTAINER FOR OFFICIAL DEFINITION*/
width: 50%;
margin: auto;
margin-top: 20px;
margin-bottom: 0;
background-color: rgba(255,255,255,0.5);}

.def { /*INSIDE DEFINITION CONTAINER*/
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
text-shadow: -1px 2px 3px white;
border: 1px solid #0B3A5E;
width: 45%;
margin: auto;
background-image: url("https://i.pinimg.com/564x/33/0c/03/330c03756d9d786344a09b609612d98b.jpg");
background-size: 100%;
height: 450px;
box-shadow: 3px 3px 5px grey;
border: none;}

p {font-size: 100%;
color: black;
padding-bottom: 10px;
border-radius: 0;}


/*HOME AND ABOUT BACKGROUND*/

#instructions {padding-top: 5%;
margin: auto;
align-self: center;
text-align: center;
height: 100%;}

/*SLIDER STUFF*/

.slider{
flex-direction: column;
display: flex;
float: left;
align-items: center;
text-align: center;
width: 50%;
margin: auto;
margin-top: 0px;
color: black;}


.slide{
	margin: auto;
    width: 75%;
    min-height: 30px;
    justify-content: center;
    border-radius: 30px;
    display: flex;
    box-shadow: 3px 3px 5px grey;
    opacity: .5;
	flex-direction: column;
	margin-top: 10px;
	float: left;}



.active{flex-grow: 1;
    transition-duration: 1s;
    opacity: 1;
    padding: 10px;
    border-radius: 30px;
	height: 100%;}

.nonActive{
    flex-grow: 0;
      opacity: 1;
      transition-duration: 1s;}

.terms {background: none;
margin: auto;}
.terms :hover {background-color: #f6ebea;}

.slide:nth-of-type(1){background-color: #FFEAE8;}
.slide:nth-of-type(2){background-color: #EEF3F7;}
.slide:nth-of-type(3){background-color: #D0E5EB;}
.slide:nth-of-type(4){background-color: #DCEBE6;}


@media screen and (max-width: 700px) {
    .slide{width: 20px;}

    .active{border-radius: 30px}
}